body {
	background: url(http://wallpapercave.com/wp/HLy0ev6.png) no-repeat;
}

header {
	padding: 60px;
	margin-left: 415px;

}


.white-box {
	background-color: white;
	width: 400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right:40px;
}

.logo {
	width: 30%;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
	color: black;
	font-size: 35px;
	padding-top: 30px;
	padding-bottom: 15px;
}

h4 {
	text-align: center;
	color: white;
}

a {
	color: white;
}

.email,.password {
	width: 320px;
	display: block;
	border-radius: 2px solid grey;
	height:55px;
	margin-bottom:25px;
	margin-top: 25px;
}

 .form-align-left {

 	margin-left: 35px;
 }

.placeholder {

	padding-left: 10px;
}

.forgot-pw {

	text-align: center;
}

.signup {
	width: 325px;
	height: 55px;
	background-color: green;
	color: white;
	border-radius: 2px;
}


.signup:hover[type='submit'] {
   background-color: #0CB863;
   -webkit-transition: background 0.1s;
   -moz-transition: background 0.1s;
   -o-transition: background 0.1s;
   transition: background 0.1s;
 }



p a {

	color: grey;
}